.button {
  border: none;
  font-size: 11px;
  background: none;
  font-weight: 600;
  color: var(--default);
  cursor: pointer;
}

.normal {
  width: 100px;
  height: 38px;
  border-radius: var(--radius-primary);
}

.rounded {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
}

.text-only {
  color: inherit;
}

.active {
  background: var(--main);
  color: var(--secondary);
}
