:root {
  --white: #ffffff;
  --background: #1e2140;
  --background-opacity: rgba(30, 33, 64, 0.3);
  --primary: #ecf3ff;
  --secondary: #151932;
  --default: #61657e;
  --light-grey: #abaaaf;
  --input-grey: #eef1fa;
  --main: #f87070;
  --blue-main: #6ff3f7;
  --purple-main: #d780f9;
}
